.GenericTable {

}

.GenericTable th,
.GenericTable td {
  padding: 0.2em 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.GenericTable thead th {
  padding: 0.5em;
}

.GenericTable th,
.GenericTable__dark {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-align: left;
}
