.GenericTable {

}

.GenericTable th,
.GenericTable td {
  padding: 0.2em 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.GenericTable thead th {
  padding: 0.5em;
}


//  Light cells
// --------------------------------------------------------

.GenericTable th,
.GenericTable__cell {
  font-weight: bold;
  color: #000;
  background-color: #fff;
  text-align: left;
}

.GenericTable__row--dimmed td,
.GenericTable__row--dimmed .GenericTable__cell {
  color: #666;
  background-color: #e4e4e4;
}

.GenericTable__row--highlighted td,
.GenericTable__row--highlighted .GenericTable__cell {
  color: #000;
  background-color: #fff;
}


//  Dark cells
// --------------------------------------------------------

.GenericTable th,
.GenericTable__cell--dark {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-align: left;
}

.GenericTable__row--dimmed th,
.GenericTable__row--dimmed .GenericTable__cell--dark {
  color: #888;
  background-color: #000;
}

.GenericTable__row--highlighted th,
.GenericTable__row--highlighted .GenericTable__cell--dark {
  color: #fff;
  background-color: #222;
}
