.Widget {
  background-color: darken($color-none, 0.6);
  color: #fff;
}

@each $x in $color-map {
  .Widget--color-#{nth($x, 1)} {
    background-color: darken(nth($x, 2), 0.4);
  }
}

.Widget__title {
  background-color: black-alpha(0.3);
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 0 1rem;
}

// .Widget__content {
//   padding: 0 1rem;
// }

.Widget__value {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 1rem;
}

.Widget__text {
  padding: 0 1rem 0.2rem;
}

// Table Widget
.Widget__table {
  width: 100%;
  margin-bottom: 0.2rem;
}

.Widget__table tr:nth-child(odd) {
  background-color: white-alpha(0.05);
}

.Widget__table td {
  padding: 0 0.25rem;
  vertical-align: middle;
}

.Widget__table td:first-child {
  padding-left: 1rem;
}

.Widget__table td:last-child {
  padding-right: 1rem;
}

.Widget__number-stat {
  text-align: right;
  font-size: 1.25rem;
  font-weight: bold;
}
