//  Text
// --------------------------------------------------------

.text-capitalized {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic !important;
}


//  Flex
// --------------------------------------------------------

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-center {
  justify-content: flex-center;
}

.flex-spread > * {
  flex: 1;
}

.flex-item {
  flex: 1;
}


//  Cursor
// --------------------------------------------------------

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-help {
  cursor: help !important;
}


//  Float
// --------------------------------------------------------

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.float-clear {
  clear: both !important;
}
